<!DOCTYPE html>
<html>

<head>
  <title>SAGAM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta charset="utf-8">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">{{ dorm }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li :class="{active: mode==='current'}"><a @click="mode='current'">현재 수리 요청 목록 <span class="badge btn-danger">1</span> </a></li>
          <li :class="{active: mode==='history'}"><a @click="mode='history'">모든 수리 요청 기록</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>로그인</a></li>
        </ul>
        <div class="col-md-3" style="margin: 0 auto; float: none; margin-top: 7px">
          <select class="form-control" v-model='dorm'>
            <option>성실관</option>
            <option>아름관</option>
            <option>진리관</option>
            <option>희망관</option>
          </select>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div :is="mode" :all-list="allList" :dorm="dorm"></div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBWyjl0go31JN8q_ol_9q9rCNbDFHCyhzA",
      authDomain: "sagam-ba36f.firebaseapp.com",
      databaseURL: "https://sagam-ba36f.firebaseio.com",
      projectId: "sagam-ba36f",
      storageBucket: "sagam-ba36f.appspot.com",
      messagingSenderId: "716070640170"
    };
    firebase.initializeApp(config);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/moment"></script>
  <script src="https://unpkg.com/vue"></script>
  <script id="current" type="text/x-template">
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <div class="title">새로운 요청</div>
        <table id="newRequestTable" class='table'>
          <thead>
            <tr>
              <th>요청 날짜</th>
              <th>위치</th>
              <th>요청</th>
              <th>삭제</th>
              <th>요청 승인</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2017/5/5</td>
              <td>314호</td>
              <td>에어컨이 작동을 안합니다.</td>
              <td><button type="button" class="btn btn-default">삭제</button></td>
              <td><button class="btn btn-success">승인</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div class="title">전달된 요청</div>
        <table id="approvedRequestTable" class='table'>
          <thead>
            <tr>
              <th>요청 날짜</th>
              <th>위치</th>
              <th>요청</th>
              <th>승인 날짜</th>
              <th>수정</th>
              <th>수리 완료</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="list in dormList(dorm)">
              <td>{{list.date}}</td>
              <td>{{list.location}}</td>
              <td>{{list.content}}</td>
              <td>{{list.deliveryDate}}</td>
              <td><button type="button" class="btn btn-default">수정</button></td>
              <td><button class="btn btn-success">완료</button></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align:center">
          <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#myModal">새로운 요청 추가하기</a>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">새로운 요청 추가하기</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">날짜</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{nowFormat()}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="location" class="col-sm-2 control-label">위치</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="location" placeholder="위치">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">요청</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">요청하기</button>
              </div>
            </div>
          </div>
        </div><!-- /.modal -->
      </div>
    </div>
  </script>
  <script id="history" type="text/x-template">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="title">모든 수리 요청 기록</div>
        <table class="table">
          <thead>
            <tr>
              <th>날짜</th>
              <th>위치</th>
              <th>요청</th>
              <th>현재 상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2017/5/1</td>
              <td>105호</td>
              <td>불이 안켜져요</td>
              <td>수리 완료</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        dorm: '아름관',
        allList: [],
        mode: 'current'
      },
      components: {
        current: {
          template: '#current',
          props: ['allList', 'dorm'],
          methods: {
            dormList: function (dormName) {
              return this.allList.filter(x => x.dorm === dormName)
            },
            nowFormat: function () {
              return moment().format('YYYY년 mm월 D일')
            }
          }
        },
        history: {
          template: "#history",
          props: ['allList', 'dorm']
        }
      },
      created: function () {
        var date = new Date()
        var time = date.getTime()
        var allList = this.allList
        firebase.database().ref("request/").on('value', function (snapshot) {
          snapshot.forEach(function(childSnapshot){
            allList.push(childSnapshot.val())
          })
        })
        /*
        firebase.database().ref("request/" + time).set({
          dorm: "hi",
          status: 0,
          date: 20170518,
          location: "318호",
          content: "몰라",
          deliveryDate: 20170520
        })
        */
      }
    })
  </script>

</body>

</html>
