<!DOCTYPE html>
<html>

<head>
  <title>SAGAM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SAGAM</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">현재 수리 요청 목록</a></li>
        <li><span class="step">1</span></li>
        <li><a href="#">모든 수리 요청 기록</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">로그인</a></li>
      </ul>
      <div class="col-md-3" style="margin: 0 auto; float: none; margin-top: 7px">
        <select class="form-control">
          <option>성실관</option>
          <option>아름관</option>
          <option>진리관</option>
          <option>희망관</option>
        </select>
      </div>
    </div>
  </nav>

  <div class="container_fluid" id="app-request">
    <div class="clearfix"></div>
    <div class="row">
      <div id="newRequestTable" class="col-md-6">
        <div class="title">새로운 요청</div>
        <table class="table request">
          <tr>
            <th style="width:10%">요청 날짜</th>
            <th style="width:15%">위치</th>
            <th style="width:55%">요청</th>
            <th style="width:10%">승인</th>
            <th style="witdh:10%">다른 작업</th>
          </tr>
          <tr>
            <td>2017/5/5</td>
            <td>314호</td>
            <td>에어컨이 작동을 안합니다.</td>
            <td><button class="btn btn-primary">승인</button></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		더 보기 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">수정</a></li>
                  <li><a href="#">삭제</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr v-for="list in requests">
            <td>{{list.date}}</td>
            <td>{{list.location}}</td>
            <td>{{list.content}}</td>
            <td><button class="btn btn-primary">승인</button></td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		더 보기 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">수정</a></li>
                  <li><a href="#">삭제</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div id="approvedRequestTable" class="col-md-6">
        <div class="title">전달된 요청</div>
        <table class="table request" id="app">
          <tr>
            <th style="width:10%">요청 날짜</th>
            <th style="width:15%">위치</th>
            <th style="width:55%">요청</th>
            <th style="width:10%">승인 날짜</th>
            <th style="witdh:10%">완료</th>
          </tr>
          <tr v-for="list in lists">
            <td>{{list.date}}</td>
            <td>{{list.location}}</td>
            <td>{{list.content}}</td>
            <td>{{list.deliveryDate}}</td>
            <td><button class="btn btn-success">수리 완료</button></td>
          </tr>
        </table>
        <div class="col-md-offset-4 col-md-4">
          <a class="btn btn-default btn-lg" href="#" role="button">새로운 요청 추가하기</a>
        </div>
      </div>
    </div>
  </div>

  <!-- This DOM is in index.html now, but needs to be moved by VUE.js" -->
  <div class="container">
    <div class="title">모든 수리 요청 기록</div>
    <table class="table">
      <tr>
        <th style="width:10%">날짜</th>
        <th style="width:10%">위치</th>
        <th style="width:70%">요청</th>
        <th style="width:10%">현재 상태</th>
      </tr>
      <tr>
        <td>2017/5/1</td>
        <td>105호</td>
        <td>불이 안켜져요</td>
        <td>수리 완료</td>
    </table>
  </div>

  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBWyjl0go31JN8q_ol_9q9rCNbDFHCyhzA",
      authDomain: "sagam-ba36f.firebaseapp.com",
      databaseURL: "https://sagam-ba36f.firebaseio.com",
      projectId: "sagam-ba36f",
      storageBucket: "sagam-ba36f.appspot.com",
      messagingSenderId: "716070640170"
    };
    firebase.initializeApp(config);
  </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="./manage_request.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        lists: [{
          content: '에어컨이 작동을 안 합니다',
          date: '2017/5/5',
          location: '314호',
          status: 'new',
          deliveryDate: '2017/5/5'
        }, {
          content: '문이 열리지 않아요',
          date: '2017/5/3',
          location: '301호',
          status: 'delivered',
          deliveryDate: '2017/5/5'
        }, {
          content: '에어컨이 작동을 안 합니다',
          date: '2017/5/5',
          location: '314호',
          status: 'complete',
          deliveryDate: '2017/5/5'
        }, {
          content: '에어컨이 작동을 안 합니다',
          date: '2017/5/5',
          location: '314호',
          status: 'delivered',
          deliveryDate: '2017/5/5'
        }, {
          content: '에어컨이 작동을 안 합니다',
          date: '2017/5/5',
          location: '314호',
          status: 'complete',
          deliveryDate: '2017/5/5'
        }]
      }
    })
  </script>
</body>

</html>
