.title {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 3px;
  padding-left: 10px;
  background-color: #34515e;
  color: #FFFFFF;
  border-radius: 2px;
}

.reqitem {
  margin:5px;
  padding:5px;
  background-color:#d8d8d8;
  font-size:20px;
}

span.step {
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

body {
  font-family: 'Nanum Barun Gothic', sans-serif;
}

table.table tbody tr td {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
