* {
  text-shadow: none !important;
}

.container-theme {
  max-width: 85em;
  margin: 0 auto;
}

nav.navbar.navbar-theme {
  border-top: 0;
  border-radius: 0;
  border: 0;
  background: whitesmoke;
}

nav.navbar.navbar-theme .navbar-nav a {
  color: #555;
}

nav.navbar.navbar-theme .navbar-nav a:hover,
nav.navbar.navbar-theme .navbar-nav a:focus,
nav.navbar.navbar-theme .navbar-nav a:active {
  background-color: whitesmoke;
}

nav.navbar.navbar-theme .navbar-nav li.active {
  box-sizing: border-box;
  border-bottom: 2px solid #34515e;
}

.has-hover-bottom-bar:hover {
  box-sizing: border-box;
  border-bottom: 2px solid #333;
  transition: all 0.3s ease;
}

.title {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 3px 0;
  padding-left: 10px;
  background-color: #34515e;
  color: #FFFFFF;
}

.notification {
  position: absolute;
  top: 5px;
  right: -4px;
  padding: 0 6px;
  border-radius: 100px;
  background-color: #C62828;
  color: white;
  z-index: 2;
}

.reqitem {
  margin:5px;
  padding:5px;
  background-color:#d8d8d8;
  font-size:20px;
}

body {
  font-family: 'Nanum Barun Gothic', sans-serif;
}

table.table tbody tr td {
  vertical-align: middle;
  text-align: left;
}

.list-enter-active {
  transition: all 0.3s;
}

.list-enter {
  opacity: 0.4;
  transform: translateY(3px);
}

#dormName {
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 20px;
  margin-right: 30px;
  background-color: #34515e;
  color: #FFFFFF;
  border-bottom: 2px solid #34515e;
  text-shadow: none;
}

#newRqButton {
  background-color: #34515e;
  color: #FFFFFF;
}

.top-action-button {
  float: right;
  margin-bottom: 10px;
}
